// Colors
// ### Primary

$blue: hsl(246, 80%, 60%);
$lightRedWork: hsl(15, 100%, 70%);
$softBlue: hsl(195, 74%, 62%);
$lightRedStu: hsl(348, 100%, 68%);
$limeGreen: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$softOrange: hsl(43, 84%, 65%);

// Neutral

$veryDarkBlue: hsl(226, 43%, 10%);
$darkBlue: hsl(235, 46%, 20%);
$desaturatedBlue: hsl(235, 45%, 61%);
$paleBlue: hsl(236, 100%, 87%);
$white: hsl(0, 0%, 100%);

// Typography
$font-sm: toRem(12);
$font-normal: toRem(18);
$font-lg: toRem(24);
$font-xl: toRem(32);
$font-xxl: toRem(37);
$font-xxxl: toRem(52);

// Font Weight\
$font-light: 300;
$font-md: 400;
$font-bold: 500;